@import "common.main.inc.less";
@import "bootstrap.precompile/bootstrap-responsive.less";
@import (less) "../css/onepage-scroll.css";

#content {
  max-width: 500px;
  width: auto;
}

.page .wrapper {
  .l-center;
  max-height: 30%;
}
@media (max-width:767px) {
  .page .wrapper {
    max-height: 90%;
    max-width: 90%;
  }
}

#name {
  //font-family: 'Alegreya SC', serif;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 3rem;
  line-height: 3.5rem;
}
#description {
  font-size: 1.5rem;
  line-height: 2rem;
}
.portrait {
  margin-top: 10px;
  text-align: center;
}

@media (max-width:767px) {
  .portrait {
    img {
      max-height: 50%;
    }
  }
}


.project-title,
.project-slogan {
  display: inline-block;
  line-height: 1rem;
}
.project-title {
  font-size: 2rem;
}
.project-slogan small {
  font-size: 1rem;
}
.project-description {
  font-size: 1.2rem;
  line-height: 1.9rem;

  padding-right: 10px;
}

#controls {
  position: fixed;

  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);

  display: none; // only show for mobile
}
#page_control {
  -webkit-appearance: none;
  background-color: transparent;
  height: 1px;
}
#page_control::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: transparent;
  border-color: #d3d3d3;
  border-width: 1px;
  @size: 40px;
  width: @size;
  height: @size;
  .radius(@size);
}
#page_control.active {
  background-color: #d3d3d3;
}
#page_control.active::-webkit-slider-thumb {
  border-color: #d3d3d3;
}
